    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="controller.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <style>
.numberbutton{
    background-color: blue;
    align:left;
    margin-left:25px;
    padding: 50px 30px 50px 80px;
    font-family: verdana;
  font-size: 2em;
}
.operationbutton
{
background-color: blue;
align:left;
margin-left:25px;
padding: 50px 30px 50px 80px;
font-family: verdana;
  font-size: 2em;
}
</style>
    </head>
    <body>
    <div class="row" ng-app="myApp" ng-controller="calculatorCtrl">
        <input type="text" placeholder="Enter" ng-model="txt">
        <hr>
        <!--<div class="row" ng-repeat="number in [0,3,6]" ng-model="selectedNumber">-->

        <div class="container-fluid">
        <div class="row" ng-repeat="number in [0,3,6]" ng-model="selectedNumber">
            <div class="">
                <button class="col-sm-4 btn btn-info"
                        value={{number+1}} ng-click="addNumber(number+1)">{{number+1}}</button>
                <button class="col-sm-4 btn btn-info"
                         value={{number+2}} ng-click="addNumber(number+2)">{{number+2}}</button>
                <button class="col-sm-4 btn btn-info"
                     value={{number+3}} ng-click="addNumber(number+3)">{{number+3}}</button>
            </div>
        </div>
        </div>
        <div class="row" ngmodel="operator">
            <div class="col-sm-12">
            <button name="btnPlus" class="operationbutton btn btn-info" ng-click="addOperator('+')">+</button>
            <button name="btnMinus" class="operationbutton btn btn-info" ng-click="addOperator('-')">-</button>
            <button name="btnEquals" class="operationbutton btn btn-info" ng-click="addOperator('*')">*</button>
            </div>
            <div class="col-sm-12">
                <button name="btnPlus" class="operationbutton btn btn-info" ng-click="addOperator('/')">/</button>
                <button name="btnMinus" class="operationbutton btn btn-info" ng-click="calculate()">=</button>
                <button name="btnEquals" class="operationbutton btn btn-info" ng-click="addNumber('.')">.</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button name="btnClear" class="clearbutton btn btn-info operationbutton col-sm-8 " ng-click="clearall()">CLEAR</button>
                <button  class="numberbutton btn btn-info numberbutton col-sm-4"
                         value={{0}} ng-click="addNumber(0)">{{0}}</button>
            </div>
        </div>

    </div>
    </body>
    </html>